<div class="more-like-this">
    <div class="item">
        <img src="src/assets/imgs/movie2.png" class="w-[88px] h-[122px]">
        <div class="more-movie-info">
            <div class="title">فیلم EL CAMINO</div>
            <div class="desc">6.5 per meter</div>
            <div class="desc">اجتماعی، سیاسی، هیجانی</div>
            <div class="comments">
                <span>2023</span>
                <div class="flex items-center gap-1 font-bold">
                    (12رای) 3.5
                    <img src="src/assets/imgs/star.png">
                </div>
            </div>
            <div class="rates">
                <div class="flex items-center gap-1 font-bold">
                    4.5/10
                    <img src="src/assets/imgs/IMDB.png">
                </div>
                <div class="flex items-center gap-1 font-bold">
                    6.4/10
                    <img src="src/assets/imgs/tomatoes.png">
                </div>
                <div class="flex items-center gap-1 font-bold">
                    45
                    <img src="src/assets/imgs/metacritic.png">
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="src/assets/imgs/movie2.png" class="w-[88px] h-[122px]">
        <div class="more-movie-info">
            <div class="title">فیلم EL CAMINO</div>
            <div class="desc">6.5 per meter</div>
            <div class="desc">اجتماعی، سیاسی، هیجانی</div>
            <div class="comments">
                <span>2023</span>
                <div class="flex items-center gap-1 font-bold">
                    (12رای) 3.5
                    <img src="src/assets/imgs/star.png">
                </div>
            </div>
            <div class="rates">
                <div class="flex items-center gap-1 font-bold">
                    4.5/10
                    <img src="src/assets/imgs/IMDB.png">
                </div>
                <div class="flex items-center gap-1 font-bold">
                    6.4/10
                    <img src="src/assets/imgs/tomatoes.png">
                </div>
                <div class="flex items-center gap-1 font-bold">
                    45
                    <img src="src/assets/imgs/metacritic.png">
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="src/assets/imgs/movie2.png" class="w-[88px] h-[122px]">
        <div class="more-movie-info">
            <div class="title">فیلم EL CAMINO</div>
            <div class="desc">6.5 per meter</div>
            <div class="desc">اجتماعی، سیاسی، هیجانی</div>
            <div class="comments">
                <span>2023</span>
                <div class="flex items-center gap-1 font-bold">
                    (12رای) 3.5
                    <img src="src/assets/imgs/star.png">
                </div>
            </div>
            <div class="rates">
                <div class="flex items-center gap-1 font-bold">
                    4.5/10
                    <img src="src/assets/imgs/IMDB.png">
                </div>
                <div class="flex items-center gap-1 font-bold">
                    6.4/10
                    <img src="src/assets/imgs/tomatoes.png">
                </div>
                <div class="flex items-center gap-1 font-bold">
                    45
                    <img src="src/assets/imgs/metacritic.png">
                </div>
            </div>
        </div>
    </div>
    <button class="w-full flex items-center justify-center py-3 font-bold text-[.875rem] gap-2 hover:bg-secondary rounded-[4px] mt-2">
        مشاهده همه فیلم ها
        <svg width="25" height="24" viewBox="0 0 25 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6003 5.39936C10.8932 5.69225 10.8932 6.16712 10.6003 6.46002L5.06066 11.9997L10.6003 17.5394C10.8932 17.8322 10.8932 18.3071 10.6003 18.6C10.3074 18.8929 9.83256 18.8929 9.53967 18.6L3.46967 12.53C3.32902 12.3894 3.25 12.1986 3.25 11.9997C3.25 11.8008 3.32902 11.61 3.46967 11.4694L9.53967 5.39936C9.83256 5.10646 10.3074 5.10646 10.6003 5.39936Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.41992 12C3.41992 11.5858 3.75571 11.25 4.16992 11.25H20.9999C21.4141 11.25 21.7499 11.5858 21.7499 12C21.7499 12.4142 21.4141 12.75 20.9999 12.75H4.16992C3.75571 12.75 3.41992 12.4142 3.41992 12Z" />
        </svg>            
    </button>
</div>