<div class="w-full">
    <video class="w-full object-cover rounded-[4px]" controls poster="src/assets/imgs/movie.png"></video>
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-3 mt-5 lg:mt-2 font-bold">
        <div class="w-full lg:w-auto flex justify-between items-center order-1 lg:order-2">
            <span class="text-[.75rem] font-[700] opacity-50 ml-2">حین تماشا با مشکلی رو به رو شدید؟</span>
            <button class="page-btn underline h-9 !p-2">اعلام مشکل</button>
        </div>
        <div class="w-full lg:w-auto flex justify-between items-center gap-1 order-2 lg:order-1">
            <button class="player-mode bg-[#AB070F99]">پلیر تلویزیون های سامسونگ</button>
            <button class="player-mode">پلیر تلویزیون های قدیمی</button>
            <button class="player-mode">پلیر تلویزیون های قدیمی</button>
        </div>
    </div>
    <div class="w-full h-[44px] bg-[#2E2217] mt-5 lg:mt-2 rounded-[8px] flex justify-between items-center">
        <div class="flex items-center gap-4">
            <img src="src/assets/imgs/danger.png">
            <span class="text-[.875rem]">پیش از شروع تماشای آنلاین وی پی ان خود را خاموش کنید</span>
        </div>
        <button class="min-w-[80px] page-btn h-full bg-primary border-[1px] py-0 px-2 border-[#FB7800] text-[#FB7800] text-[.75rem] hover:bg-[#FB7800] hover:text-white">
            خرید اشتراک
        </button>
    </div>
</div>